In [52]:
import numpy as np
from scipy.stats import kstest
from scipy.stats import levene
from scipy.stats import f_oneway
import scipy.stats as stats
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from statsmodels.stats.multicomp import (pairwise_tukeyhsd,
                                         MultiComparison)

In [9]:
data=pd.read_csv('/Users/rickie/Desktop/statistics_by_python/diamonds.csv')
data.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [27]:
# sns.boxplot(x=data.color,y=data.price)

In [24]:
# sns.jointplot(data.carat,data.price)

### 单因素方差分析

In [40]:
# 假设1:各总体服从正态分布
# 假设2:各总体方差相同
# 假设3:各样本独立

In [28]:
formula='price~color'# y~x
model=ols(formula,data).fit()
anova_lm(model)

               df        sum_sq       mean_sq           F  PR(>F)
color         6.0  2.684911e+10  4.474852e+09  290.205881     0.0
Residual  53933.0  8.316240e+11  1.541958e+07         NaN     NaN

In [39]:
kstest(data[data['color']=='E'].price,'norm')

KstestResult(statistic=1.0, pvalue=0.0)

### 双因素方差分析

In [41]:
formula='price~color+cut'# y~x
model=ols(formula,data).fit()
anova_lm(model)

               df        sum_sq       mean_sq           F         PR(>F)
color         6.0  2.684911e+10  4.474852e+09  293.608876   0.000000e+00
cut           4.0  9.699679e+09  2.424920e+09  159.106485  1.288117e-135
Residual  53929.0  8.219243e+11  1.524086e+07         NaN            NaN

In [45]:
kstest(data[data['cut']=='Ideal'].price,'norm')

KstestResult(statistic=1.0, pvalue=0.0)

### 多重比较分析

In [51]:
# 1.tukey分析
sts=pairwise_tukeyhsd(data['price'],data['cut'])# y,x
print(sts)#reject为True的为显著不同的pair

   Multiple Comparison of Means - Tukey HSD,FWER=0.05
=======================================================
 group1   group2   meandiff   lower      upper   reject
-------------------------------------------------------
  Fair     Good   -429.8933 -740.4567  -119.3299  True
  Fair    Ideal   -901.2158 -1180.5785 -621.8531  True
  Fair   Premium   225.4999  -59.2739   510.2738 False
  Fair  Very Good -376.9979 -663.8694   -90.1263  True
  Good    Ideal   -471.3225  -642.367  -300.2779  True
  Good   Premium   655.3933  475.6466   835.1399  True
  Good  Very Good  52.8954  -130.1565   235.9474 False
 Ideal   Premium  1126.7157 1008.8058  1244.6257  True
 Ideal  Very Good  524.2179  401.3281   647.1078  True
Premium Very Good -602.4978 -737.2366  -467.7591  True
-------------------------------------------------------